/* Heavily influenced by
 * https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/
 * */

#hexagon-container {
    --size: min(45vw, 400px);
    --margin: 8px;
    --overlap: calc(var(--size) * -0.2886 + var(--margin));

    display: flex;
    overflow: hidden;
    padding-bottom: calc(var(--size));
}

#thumbnails::before {
    float: left;
    height: 150%; /* Fixed via runtime JS */
    content: "";

    --cutout: calc(var(--size) * 1.732 + 4 * var(--margin) - 1px);
    width: calc(var(--size) / 2 + var(--margin));
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--cutout) - 3px), #000 0 var(--cutout));
}

.thumbnail {
    display: inline-block;
    height: calc(var(--size) *  1.1547);
    width: var(--size);
    margin: var(--margin);

    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: var(--overlap);

    background-color: #000;
}

.thumbnail:hover > img {
    opacity: 1;
}

.thumbnail:hover > .thumbnail-info {
    display: none;
}

.thumbnail > img {
    display: block;
    height: 100%;
    width: 100%;

    z-index: 1;

    object-position: center;
    object-fit: cover;
    opacity: 0.7;

    background: linear-gradient(16deg, rgba(18,18,18,1) 0%, rgba(43,73,43,1) 36%, rgba(238,238,238,1) 100%);
}

.thumbnail-info {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
}

.thumbnail-info > div {
    position: absolute;
    display: inline-block;

    z-index: 2;

    background-color: rgba(200, 200, 200, 0.7);
    padding: 5pt;
    width: 100%;

    color: #111;
    text-shadow: 0px 0px 2px #FFF;
    text-align: center;
}

.thumbnail-info > form > input {
    display: none;
}

.thumbnail-private {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
}

.thumbnail-private > div {
    position: absolute;
    display: inline-block;

    z-index: 2;

    background-color: rgb(255, 151, 90, 0.7);
    padding: 5pt;
    width: 100%;

    color: #111;
    text-shadow: 0px 0px 2px #FFF;
    text-align: center;
}

.thumbnail:hover > .thumbnail-private > form > input[type="password"] {
    display: inline-block;
}

form > input {
    position: absolute;
    display: none;

    z-index: 2;

    padding: 5pt;
    width: 100%;

    color: #111;
    text-shadow: 0px 0px 2px #FFF;
    text-align: center;
}

.thumbnail-name {
    bottom: 0;
    font-size: 24pt;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumbnail-year {
    top: 0;
    font-size: 16pt;
}
