:root {
	--background-color: #222;
	--off-white: #EEE;
	--dark-green: #2B492B;

	--font-color: #EEE;
}

body {
	margin: 0;
	font-size: 12pt;
	font-family: sans-serif;
	background-color: var(--background-color);
	color: var(--font-color);

    user-select: none;
}

#header {
    position: sticky;
    top: 0;
    z-index: 10;

    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 20px;

    font-size: 24pt;
    text-shadow: 0px 0px 2px #000;
    background-color: var(--dark-green);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#footer {
    font-size: 16pt;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--dark-green);
    text-align: center;
}

a {
    color: #FFF;
}

#album-name:before {
    content: "\a0➠\a0";
}

