/*****************************************************************************/
/* Thumbnail listing                                                         */
/*****************************************************************************/
#thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.thumbnail {
    position: relative;
    height: min(50vh, 400px);
    border: 2px solid #000;
}

.thumbnail:hover {
    border: 2px solid var(--off-white);
}

.thumbnail > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*****************************************************************************/
/* Preview window                                                            */
/*****************************************************************************/
#preview {
    position: fixed;
    top: 0;
    z-index: 20;

    display: none;

    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

#preview > img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;

    object-fit: contain;
}

#preview > div {
    position: absolute;

    background-color: rgba(32, 32, 32, 0.5);
    padding: 10px;

    font-weight: bold;
    font-size: 24pt;
}

#preview > div:hover {
    text-shadow: 0 0 8px var(--off-white);
}
#preview > div:hover > a {
    text-shadow: 0 0 8px var(--off-white);
}

#close {
    top: 0;
    right: 0;
}

#download {
    top: 0;
    right: 1.5em;
}

#fullscreen {
    top: 0;
    right: 3.0em;
}

#download > a {
    display: inline-block;
}

#prev {
    top: 50%;
    left: 0;
}

#next {
    top: 50%;
    right: 0;
}

#position {
    position: absolute;
    left: 0;
    top: 0;

    background-color: rgba(32, 32, 32, 0.5);
    font-size: 16pt;
    padding: 10px;
}
