html {
    font-size: 16pt;
    color: #222;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f4eb;
}
h2 {
    padding: 10pt;
    margin: 0;
    text-align: center;
    font-style: italic;
    font-family: serif;
}

#header {
    font-family: serif;
    font-style: italic;
    padding: 32pt;
    text-align: center;
    font-weight: bold;
    color: #EEE;
    text-shadow: 0 0 5px #111;
    background-image: url('redwoods.jpg');
}
#title {
    font-size: 48pt;
    padding-bottom: 24pt;
}
#date {
    font-size: 32pt;
}
#flexer {
    display: flex;
    justify-content: center;
}
#content {
    text-align: justify;
    padding: 20pt;
    width: max(50%, 800px);
}
.entry {
    padding-bottom: 16pt;
}
