:root {
    --background-color: #fff;
    --font-color: #000;

    --dark-green: #2b492b;
    --medium-green: #508e50;
    --light-green: #93a893;
    --medium-red: #992e27;
    --border-color: #000;
    --highlight-color: #ffab6e;
    --blue-highlight-color: #00d7fb;
    --nav-color: #77c3b5;
    --off-white: #eee;

    --list-width: 18em;
    --slideout-width: 2em;
    --list-background-color: var(--background-color);
}
@media (prefers-color-scheme: dark) {
    /* Flipped background and font color, then found accessible alternatives
     * for the other values. */
    :root {
        --background-color: #1a351d;
        --font-color: #ccc;

        --medium-green: #236228;
        --light-green: #475a47;
        --border-color: #777;
        --highlight-color: #a65e25;
        --blue-highlight-color: #005e7e;
        --nav-color: #307d71;
        --off-white: #29442c;
    }
}

html {
    /* Work around ios body rubberband */
    position: fixed;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
    font-size: 12pt;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
    background-color: var(--dark-green);
    color: var(--font-color);
}

div {
    padding: 0;
    margin: 0;
}

p {
    padding: 10pt;
    margin: 0;
}

.main {
    position: absolute;
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: auto;
    background-color: var(--background-color);

    border-left: 1px solid var(--border-color);
    visibility: hidden;
}

.main.main-selected {
    visibility: visible;
}

#splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--font-color);
    text-align: center;
    text-shadow: 0 0 1px var(--font-color);

    background-color: var(--medium-green);
}

.splash-icon {
    width: 20vh;
    height: 20%;
    padding: 50px;
    border-radius: 100%;
    box-shadow: 0 0 50px var(--light-green);
    background-color: var(--dark-green);
}
.splash-icon > img {
    width: 100%;
    height: 100%;
}
.splash-title {
    font-size: 36pt;
}
.splash-text {
    font-size: 24pt;
    text-shadow: none;
}

@media (max-width: 800px) {
    .main {
        width: 100vw;
    }
    #recipe {
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        border-left: 0;
    }
    #recipe.viewing {
        display: block;
    }
}

.list-item.recipe-item-active::after {
    background-color: var(--dark-green);
    content: "In-progress";
}
.list-item.recipe-item-completed::after {
    background-color: var(--medium-green);
    content: "Complete";
}

#search {
    font-size: 12pt;
    width: 90%;
    padding: 2pt;
    border-bottom: 1px solid var(--border-color);
}

h1 {
    background-color: var(--medium-green);
    padding: 10pt;
    margin: 0;

    text-align: center;
    font-size: 18pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-bottom: 1px solid var(--border-color);
}

.categories {
    background-color: var(--medium-green);
    padding-left: 10pt;
    font-size: 12pt;
    font-style: italic;
    border-top: none;
}
.categories::before {
    content: "(";
}
.categories::after {
    content: ")";
}

h2 {
    background-color: var(--light-green);
    padding: 5pt;
    margin: 0;

    text-align: center;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

#recipe-ingredients {
    column-width: 200pt;
    column-gap: 10pt;
    padding: 5pt;
}
#recipe-ingredients > div {
    margin: 2pt;
    padding: 2pt;
    border: 1px solid var(--background-color);
}
.ingredients-amount {
    padding-right: .5em;
    text-align: right;
}
.ingredients-name {
    font-weight: bolder;
}
.ingredients-modifier {
    padding-left: .5em;
    font-style: italic;
}
.ingredients-modifier::before {
    content: "(";
}
.ingredients-modifier::after {
    content: ")";
}
#recipe-ingredients .ingredient-next {
    background-color: var(--highlight-color);
    border: 1px solid var(--border-color);
}
#recipe-ingredients .ingredient-consumed {
    text-decoration: line-through;
}

/* Instructions */
#recipe-instructions > div {
    padding: 10pt;
    background-color: var(--background-color);
}
#recipe-instructions > div:nth-child(even) {
    background-color: var(--off-white);
}
#recipe-instructions > .instruction-next {
    font-weight: bold;
    background-color: var(--highlight-color) !important;
    border-color: var(--border-color);
    border-top: 1px solid;
    border-bottom: 1px solid;

}
#recipe-instructions > .instruction-complete {
    color: transparent;
    text-shadow: 0 0 1.5px var(--font-color);
}
#recipe-instructions > .start-button {
    text-align: center;
    background-color: var(--blue-highlight-color);
    border-bottom: 1px solid;
}
#recipe-instructions > .start-button::after {
    content: "Start cooking";
}

/* Notes */
ul {
    margin: 0;
    padding: 10pt;
    list-style: none;
}
ul li:before {
    content: "\00BB  ";
}
ul:empty {
    display: none;
}
.hidden {
    display: none;
}

/* Create Recipe */
#creation-button {
    padding: 0 5pt 0 5pt;
    border-radius: 5pt;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--dark-green);
    background-color: var(--light-green);
}
input[type="text"] {
    border: 0;
    background: none;
    border-bottom: 1px dashed var(--font-color);
    margin: 5pt;
    font-size: inherit;
    text-align: inherit;
    color: var(--font-color);
}
.create-ingredient {
}
.create-instruction {
    width: calc(100% - 10pt - 2px);
}
.create-note {
    /* 10pt for margin, 2pt for border, 1em for li character */
    width: calc(100% - 10pt - 2px - 1em);
}
#creation-generate {
    margin-top: 5pt;
    padding: 5pt;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    text-align: center;
    font-size: 16pt;
    background-color: var(--blue-highlight-color);
}
#creation-error {
    padding: 5pt;
    border-top: 1px solid var(--border-color);

    text-align: center;
    font-size: 16pt;
    color: var(--font-color);
    text-shadow: 0 0 1px var(--font-color);
    background-color: var(--medium-red);
}
#creation-error:before {
    content: "Error: "
}
#creation-result {
    padding: 10pt 10pt 0 10pt;
}
#creation-result-recipe {
    /* Wrapper for the recipe that allows absolute positioning on `copy` */
    position: relative;
}
#creation-result-recipe > pre {
    border: 1px solid var(--border-color);
    background-color: var(--light-green);
    white-space: pre-wrap;
}
#creation-copy {
    position: absolute;
    right: 5pt;
    top: 5pt;
    width: 36pt;
    height: 36pt;
    z-index: 10;

    display: block;

    font-size: 24pt;
    text-align: center;
    -moz-user-select: none;
    user-select: none;

    background-color: var(--medium-green);
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 2px var(--background-color);
}
#creation-copy.copy-pressed {
    /* Override the hover to show the button was pressed */
    background-color: var(--medium-green) !important;
    box-shadow: 0px 0px 2px var(--background-color);
}
#creation-copy:hover {
    background-color: var(--highlight-color);
    box-shadow: 0px 0px 2px var(--blue-highlight-color);
}

/* Email Stuff */
.email {
    font-weight:bold;
}
.email .at:after {content: "@";}
