#main {
	top: 0;
	min-height: 100vh;
	font-size: 16pt;
}

button {
	float: right;
	height: 20pt;
	width: 20pt;
	padding: 0;

	text-align: center;
	vertical-align: middle;

	font-size: 18pt;
	line-height: 12pt;
}
button:after {
	content: "\00d7";
}

label {
	display: block;
	padding-left: 15px;
	padding-right: 15px;

	padding: 10px 15px 10px 15px;
}
label:nth-child(odd) {
	background-color: rgba(147, 168, 147, .25);
}

input[type="text"] {
	margin: 1em;
	width: calc(100% - 2em);
	font-size: 16pt;
}

input[type="checkbox"] {
	transform: scale(1.5);

	padding: 0;
	margin: 0;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -1px;
}
